<!-- <div class="main">
    <p>Login Page</p>
    <form class="formDiv" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group" class="formWidth">
            <label for="username">Username</label>
            <input type="text" formControlName="userName" class="form-control" />
        </div>
        <div class="form-group" class="formWidth">
            <label for="password">Password</label>
            <input type="password" formControlName="userPassword" class="form-control" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
        </div>
    </form>
</div> -->
<mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="userName">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="userPassword">
    </mat-form-field>
  </p>

  <p *ngIf="error" class="error">
    {{ error }}
  </p>

  <div class="button">
    <button type="submit" mat-button>Login</button>
  </div>

</form>
</mat-card-content>
</mat-card>