.emp-detail-text {
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
}

.employee-count {
    background-color: #82a70c;
    color: #ffffff;
    border-radius: 42%;
    font-size: 16px;
    width: 26px;
    text-align: center;
    display: inline-block;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    min-width: 800px;
    padding: 0 9%;
}
th {
    background: #42515f 0% 0%;
    border-radius: 3px 3px 0px 0px;
    text-align: left;
    letter-spacing: 0px;
    font: normal normal medium 18px/24px Roboto;
    color: #fffffF;
    opacity: 1;
    border: 0px solid #dddddd;
}
tr {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}
.dept-label {
    background-color: #e9fea5;
    border-radius: 40%;
    width: fit-content;
    padding: 1px 7px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 8px;
}
.card {
	margin: 20px;
  }
// table.datatable {
// 	width:100%;
// 	border: none;
// 	background:#fff;
// }
// table.datatable td.table_foot {
// 	border: none;
// 	background: #fff;
// 	text-align: center;
// }
// table.datatable tr.odd_col {
// 	background: none;
// }
// table.datatable tr.even_col {
// 	background: rgb(191, 121, 121);
// }
// table.datatable td {
// 	font-size:10pt;
// 	padding:5px 10px;
// 	text-align: left;
// }
// table.datatable th {
// 	text-align: left;
// 	font-size: 8pt;
// 	padding: 10px 10px 7px;   
// 	text-transform: uppercase;
// 	color: #fff;
// 	background-color: black;
// 	font-family: sans-serif;
// }
.main-content {
    display: flex;
    flex-direction: column;
    /* background-color: #f7f7f7; */
    max-height: 100vh;
    padding: 30px 0 10px;
    box-sizing: border-box;
}
